
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h1>About</h1>

<div class="text-center">
    <h1 class="display-4">MUD Maker ver. 1.00</h1>
    <h3>Developers:</h3>
    <h4>Shod</h4>
    <h4>Rob</h4>
    <h4>Wen</h4>
    <h4>Jay</h4>
    <h4>Seth</h4>
    <h4>Jordan</h4>
</div>
